.movie
  .title
    = link_to movie.title, edit_movie_path(movie)
  .info
    %span.creator
      Shared by:&nbsp;
      = link_to movie.user_name, movies_path(params.permit(:order, :dir).merge(user_id: movie.user_id))
      = ", #{movie.created_since}"
  .description= movie.description
  .reactions
    - reactions.each do |reaction|
      %span{ class: reaction.name }
        - if current_user && current_user.id != movie.user_id
          = link_to "#{reaction.name.pluralize.capitalize}: ", movie_reactions_path
          %i= movie.reactions_count[reaction.name.to_sym] || 0
        - else
          = "#{reaction.name.pluralize.capitalize}: "
          %i= movie.reactions_count[reaction.name.to_sym] || 0