.movie
  .title
    = link_to movie.title, edit_movie_path(movie)
  .info
    %span.creator
      Shared by:&nbsp;
      = link_to movie.user_name, movies_path(params.permit(:order, :dir).merge(user_id: movie.user_id))
      = ", #{movie.created_since}"
  .description= movie.description
  .reactions{ id: movie.id }
    =render partial: 'movie_reactions_row', locals: { current_user: current_user, movie: movie, reactions: reactions }